@{
    ViewBag.Title = "Home Page";
}

<div style="display: flex; margin: 1.3em;">
    <div class="jumbotron">
        <label id="lblGreetings"></label>
    </div>
    <h1 class="snausbank">SnausBank</h1>
</div>
<div class="row">
    <!--<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div> -->
</div>
<div class="dineKonti">
    <h2>Dine konti</h2>
    <div class="konti">
        <div>
            <h4>Fælleskonto</h4>
            <h6>29389 kr.</h6>
        </div>
    </div>
</div>

<script>
 /* var elements = document.getElementsByName(FirstName);
    var id = elements[0].getAttribute(FirstName)*/

    var myDate = new Date();
    var hrs = myDate.getHours();

    var greet;

    if (hrs < 12)
        greet = 'Godmorgen';
    else if (hrs >= 12 && hrs <= 17)
        greet = 'God eftermiddag'
    else if (hrs >= 17 && hrs <= 24)
        greet = 'Godaften'

    document.getElementById('lblGreetings').innerHTML = greet /*+ ', ' + FirstName*/ + ', ' ;
</script>
<style>
    #lblGreetings {
        color: white;
        font-size: 2.2em;
        padding-top: 15px;
        
    }

    .snausbank {
        padding-left: 10%;
    }

    .dineKonti {
        color: white;
        background-color: #2878F0;
        border-radius: 20px;
        display: inline-block;
        padding: 0 1.3em 0 1.3em;
        margin: 3em 1.3em 1.3em 1.3em;

    }
    .konti {
        border: 3px solid white;
        border-radius: 20px;
        padding: 0.3em 1.3em 0 5px;
        text-align: left;
        margin-bottom: 1.3em;
    }

    
</style>